body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* create a keyframe that adds a pseudo white overlay the element, and scales it from 1.2 back to 1, and adds a box-shadow with a white glow and also fades away */
@keyframes focus-highlight {
  0% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, .5);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
}

@keyframes focus-glow {
	0% {
		opacity: 0.75;
	}
	100% {
		opacity: 0;
	}
}

.focus-highlight {
  position: relative;
	animation: focus-highlight 0.3s forwards ease-out;

}
.focus-highlight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: focus-glow 0.3s forwards ease-out;
}
